html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Calibri !important;
}

body {
    background: url(../assets/bg3.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.logo a {
    line-height: 40px;
    float: left;
    margin: 1.2em 0 0 2.2em;
    padding-top: 10px;
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
}


.nav {
    line-height: 40px;
    margin: 1.2em;
    padding-top: 15px;
    position: absolute;
    right: 0;
    background-color: rgba(0,0,0,.5);
    border-radius: 15px;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    color: #fff;
    padding-right: 36px;
}

.nav ul li button {
    margin-top: 12px;
    border: none;
    padding: 1px 10px; 
    background: #fff;
    color: #000;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 12px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}


.social-media {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.social-media ul li {
    list-style: none;
    color: #fff;
    padding-top: 20px;
}

.social-media ul li a {
    color: #fff;
    text-decoration: none;
}

.side-strip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4em;
    transform: rotate(90deg);
    color: #fff;
    letter-spacing: 4px;
}   

.side-strip span a {
    color: #fff;
    text-decoration: none;
}

#header { /*required to use at least one 'id' selector*/
    position: absolute;
    top: 38%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.header h1 {
    color: #fff;
    font-weight: bolder;
}

.header h4 {
    color: yellowgreen ;
    font-weight: bolder;
}

.header p {
    color: #fff;
    font-weight: lighter;
    font-size: 18px;
    line-height: 2.0em;
}

.header button {
    margin-top: 12px;
    border: none;
    padding: 16px 40px; 
    background: #fff;
    color: #000;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 12px;
}

.bottom-bar {
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.row {
    padding: 2.6em 2.6em 2em 2.6em;
    background-color: rgba(0,0,0,.5);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.bottom-bar h6 {
    color: yellowgreen;
    font-weight: bolder;
    text-transform: uppercase;
}

.bottom-bar p {
    font-size: 14px;
    font-weight: lighter;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background:#fff;
    top: 0%;
}

.overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%); 
}

.overlay h1 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50% -50%);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 12px;
}

.logo a:hover {
    color: yellowgreen;
    text-decoration: none;
}

.social-media ul li a:hover {
    color: yellowgreen;
    text-decoration: none;
}

.side-strip span a:hover {
    color: yellowgreen;
    text-decoration: none;
}

.nav ul li a:hover {
    color: yellowgreen;
    text-decoration: none;
}